<%- include ('partials/header') %>
<%- include ('partials/nav') %>
<main>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3 bg-dark text-light ">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold mb-2">ΠΤΥΧΙΑΚΗ ΕΡΓΑΣΙΑ</h1>
          <p class="col-md-8 fs-4 mb-5 text-light-sec">Πτυχιακή Εργασία για συμπλήρωση ηλεκτρονικών έντυπων με φωνητικές εντολές,
           <br>
            Πάτησε  για να συμπληρώσεις τις παρακάτω αιτήσεις:
            </p>
          <a href="/ypedhl" class="btn btn-info btn-lg text-light mt-2" type="button"   aria-label="ΥΠΕΥΘΥΝΗ ΔΗΛΩΣΗ">ΥΠΕΥΘΥΝΗ ΔΗΛΩΣΗ</a>
          <a href="/exousiodotisi" class="btn btn-outline-info btn-lg mt-2" type="button"   aria-label=" ΕΞΟΥΣΙΟΔΟΤΗΣΗ">ΕΞΟΥΣΙΟΔΟΤΗΣΗ</a>
        </div>
      </div
    </div>
  </main>

<%- include ('partials/footer') %>