<%- include ('partials/header') %>
<%- include ('partials/nav') %>
<main>
    <div id="home" class="container pt-4">
      <div class="p-md-5 p-sm-1 bg-light rounded-3 bg-dark text-dark ">
        <div class="container-fluid py-2">
          <span>ΠΤΥΧΙΑΚΗ ΕΡΓΑΣΙΑ</span>
          <h1 class="display-md-5 fw-bold mb-2">ΕΦΑΡΜΟΓΗ ΓΙΑ ΣΥΜΠΛΗΡΩΣΗ ΗΛΕΚΤΡΟΝΙΚΩΝ ΑΙΤΗΣΕΩΝ ΜΕ ΦΩΝΗΤΙΚΕΣ ΕΝΤΟΛΕΣ</h1>
          <p class="col-md-8 fs-4 mb-md-5 mb-sm-1 text-dark-sec">Πτυχιακή Εργασία για συμπλήρωση ηλεκτρονικών έντυπων με φωνητικές εντολές υπό την εποπτεία του  ΔΙ.ΠΑ.Ε - Τμήμα Μηχανικών Πληροφορικής, Υπολογιστών και Τηλεπικοινωνιών (ΣΕΡΡΕΣ),
           <br> <br>
            Πάτησε  για να συμπληρώσεις τις παρακάτω αιτήσεις:
            </p>
          <a href="/ypedhl" class="btn btn-info btn-lg text-light mt-1" type="button"   aria-label="ΥΠΕΥΘΥΝΗ ΔΗΛΩΣΗ">ΥΠΕΥΘΥΝΗ ΔΗΛΩΣΗ</a>
          <a href="/exousiodotisi" class="btn btn-outline-info btn-lg mt-2" type="button"   aria-label=" ΕΞΟΥΣΙΟΔΟΤΗΣΗ">ΕΞΟΥΣΙΟΔΟΤΗΣΗ</a>
        </div>
      </div
    </div>
  </main>

<%- include ('partials/footer') %>