body{
    background-color: #343a40b0;
}

/* microphone icon */
.bi-mic-icon{
    color:#17A2B8;
    font-size:1.03rem;
}
/* Footer */
.attribution { margin-top:40px; font-size: 11px; text-align: center; }
.attribution a { color: hsl(212, 21%, 88%); }
