@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
}
:root
{
    --primary-color: #17A2B8;
    --dark-color: #0c0c0c;
}
body{
    background-color:#f3f3f3;
    font-family: "Roboto";
}
/* nav */
.dropdown-item:focus, .dropdown-item:hover
{
    background-color: var(--primary-color);
}
.text-light-sec
{
    color:#CCCCCC;
}
.bg-dark{
    background-color:#23272B!important;
}
.bg-dark-light{
    background-color:#343A40;
}
/* microphone icon */
.bi-mic-icon{
    color:var(--primary-color);
    font-size:1.03rem;
}
/* Footer */
footer hr{
    height: 2px!important;
    border-radius: 10px;
    color:var(--dark-color);
}
.attribution { margin-top:40px; font-size: 16px; text-align: center; color:#0c0c0c73;}
.attribution a { color: var(--primary-color); }
/* ERROR PAGE */
.svg-full{
    width: 100%;
    height: 100%;
}
/* cards */
.card{
    width:320px;
}
/* Stepper Form */

.stepwizard-step p {
    margin-top: 0px;
    color:rgb(226, 226, 226);
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row::before {
    top: 19px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 4.5px;
    background-color: #0dcaf0;
    z-index: 0;
    border-radius: 2px
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.428571429;
    border-radius: 15px;
}
/* Accesibility  */
a.navbar-brand[tabindex="0"]:focus,
a:focus,button:focus,
input:focus,textarea:focus, a.navbar-brand[tabindex="0"]:focus-visible,
a:focus-visible,button:focus-visible,
input:focus-visible,textarea:focus-visible { 
    outline: auto 5px -webkit-focus-ring-color; 
    outline: 4px dashed #0dcaf0;
  }

  /*  */
  .no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}
.bg-dark {
    background-color: #ffffff!important;
}

.text-dark {color:#0c0c0c!important;}
@media screen and (max-width:580px)
{
    #home h1 {font-size:22px!important;}
    #home span {font-size:14px!important;}
    #home p {font-size:16px!important;}

    .card {width:284px!important;}
    div.form-box{width: 18rem!important;height: 100%;}
}