<%- include ('../partials/header') %>

<%- include ('../partials/nav') %>


<div class="container  bg-dark mt-3 rounded-3 p-5  text-dark form-box" style="width:26rem;">
    <div class="row">
        <h3 class="no-browser-support" tabindex="0">Λυπούμαστε, το πρόγραμμα περιήγησής σας δεν υποστηρίζει το Web Speech API. Δοκιμάστε να ανοίξετε αυτήν την επίδειξη στο Google Chrome ή στο Microsoft Edge<h3>
    </div>
    <div class="form">
        <h1 class="mb-4 h4 text-center">Συμπληρωσε την ΕΞΟΥΣΙΟΔΟΤΗΣΗ</h1>
    <div class="stepwizard d-none">
        <div class="stepwizard-row setup-panel ">
            <div class="stepwizard-step col-xs-3"> 
                <a href="#step-1" type="button" class="btn btn-info btn-circle" aria-label="ΠΡΩΤΟ ΒΗΜΑ ΣΥΜΠΛΗΡΩΣΕΙΣ ΦΟΡΜΑΣ">1</a>
                <p><small>ΠΡΩΤΟ ΒΗΜΑ</small></p>
            </div>
            <div class="stepwizard-step col-xs-3"> 
                <a href="#step-2" type="button" class="btn btn-outline-info bg-dark btn-circle" disabled="disabled" aria-label="ΔΕΥΤΕΡΟ ΒΗΜΑ ΣΥΜΠΛΗΡΩΣΕΙΣ ΦΟΡΜΑΣ">2</a>
                <p><small>ΔΕΥΤΕΡΟ ΒΗΜΑ</small></p>
            </div>
            <div class="stepwizard-step col-xs-3"> 
                <a href="#step-3" type="button" class="btn btn-outline-info  bg-dark  btn-circle" disabled="disabled" aria-label="ΤΕΛΕΥΤΑΙΟ ΒΗΜΑ ΣΥΜΠΛΗΡΩΣΕΙΣ ΦΟΡΜΑΣ">3</a>
                <p><small>ΤΡΙΤΟ ΒΗΜΑ</small></p>
            </div>
        </div>
    </div>
     <form role="form" class="my-3" action="/exousiodotisi" method="post">
        <div class="panel panel-primary setup-content" id="step-1">
            <div class="panel-heading">
                 <h3 class="panel-title">ΒΗΜΑ 1ο</h3>
            </div>
            <div class="panel-body">
                <div class="form-group my-3">
                    <label class="control-label" for="gender">ΕΠΕΛΕΞΕ ΓΕΝΟΣ</label>
                    <input maxlength="70" id="gender" name="gender" type="text" required="required" class="form-control" placeholder="" />
                </div>
                <div class="form-group my-3">
                    <label for="fullName" class="control-label">ΟΝΟΜΑΤΕΠΟΝΥΜΟ</label>
                    <input id="fullName" name="fullName" maxlength="55" type="text" required="required" class="form-control" placeholder="π.χ. ΝΙΚΟΣ ΓΕΩΡΓΙΟΥ" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="fathername">ΟΝΟΜΑ ΠΑΤΕΡΑ</label>
                    <input name='fathername'  id="fathername" maxlength="20" type="text" required="required" class="form-control" placeholder="π.χ. ΝΙΚΟΛΑΟΣ" />
                </div>
                <div class="form-group my-3">
                    <label for="mothername" class="control-label">ΟΝΟΜΑ ΜΗΤΕΡΑΣ</label>
                    <input id="mothername" name="mothername" maxlength="20" type="text" required="required" class="form-control" placeholder="π.χ. ΜΑΡΙΑ" />
                </div>
                <div class="form-group mb-4">
                    <label for="bdate" class="control-label">ΗΜΕΡΟΜΗΝΙΑ ΓΕΝΝΗΣΗΣ</label>
                    <input id="bdate" name="bdate" type="text" required="required" class="form-control" placeholder="DD/MM/YYYY" />
                </div>
                <button class="btn btn-outline-info nextBtn float-end" type="button">ΕΠΟΜΕΝΗ ΣΕΛΙΔΑ</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-heading">
                 <h3 class="panel-title">ΒΗΜΑ 2ο</h3>
            </div>
            <div class="panel-body">
                <div class="form-group my-3">
                    <label for="blocation" class="control-label">ΤΟΠΟ ΓΕΝΝΗΣΗΣ</label>
                    <input id="blocation" name="blocation" maxlength="55" type="text" required="required" class="form-control" placeholder="π.χ. ΒΟΛΟΣ" />
                </div>
                <div class="form-group my-3">
                    <label for="address" class="control-label">ΟΔΟΣ</label>
                    <input id="address" name="address" maxlength="100" type="text" required="required" class="form-control" placeholder="π.χ. ΚΑΡΑΜΑΝΛΗ 6" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="city" >ΚΑΤΟΙΚΟΣ</label>
                    <input maxlength="30" type="text" id="city" name="city" required="required" class="form-control" placeholder="π.χ. ΑΘΗΝΑΣ" />
                </div>
                <div class="form-group mb-4">
                    <label class="control-label" for="passportID">ΑΔΤ/ΔΙΑΒΑΤΗΡΙΟ</label>
                    <input maxlength="20" type="text"  id="passportID" name="passportID" required="required" class="form-control" placeholder="π.χ. ΑΦ 123122" />
                </div>
                <button class="btn btn-outline-info nextBtn float-end" type="button">ΕΠΟΜΕΝΗ ΣΕΛΙΔΑ</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-heading">
                 <h3 class="panel-title">ΒΗΜΑ 3ο</h3>
            </div>
            <div class="panel-body">
                <div class="form-group my-3">
                    <label class="control-label" for="v">ΕΚΔΟΘΗΚΕ</label>
                    <input maxlength="70" name="passportIDCreatedAt" id="passportIDCreatedAt" type="text" required="required" class="form-control" placeholder="π.χ. ΑΣΤΥΝΟΜΟΜΙΑ ΒΟΛΟΥ" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for='createdBy'>ΑΠΟ ΤΟ </label>
                    <input maxlength="100" type="text" id="createdBy"  name="createdBy" required="required" class="form-control" placeholder="π.χ. ΝΙΚΟΛΑΟΣ ΓΕΩΡΓΙΟΥ" />
                </div>
                <button class="btn btn-outline-info nextBtn float-end" type="button"> ΕΠΟΜΕΝΗ ΣΕΛΙΔΑ</button>
            </div>
        </div>
        <!-- εξουσιοδοτω -->
        <div class="panel panel-primary setup-content" id="step-4">
            <div class="panel-heading">
                    <h3 class="mb-4 h4 text-center">ΕΞΟΥΣΙΟΔΟΤΩ</h3>
                 <h3 class="panel-title">ΒΗΜΑ 1ο</h3>
            </div>
            <div class="panel-body">
                <div class="form-group my-3">
                    <label class="control-label" for="to_gender">ΕΠΕΛΕΞΕ ΓΕΝΟΣ</label>
                    <input maxlength="70" id="to_gender" name="to_gender" type="text" required="required" class="form-control" placeholder="" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="AuthfullName">ΟΝΟΜΑΤΕΠΟΝΥΜΟ</label>
                    <input maxlength="70" id="AuthfullName" name="AuthfullName" type="text" required="required" class="form-control" placeholder="π.χ. ΝΙΚΟΛΑΟΣ ΓΕΩΡΓΙΟΥ" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="Authfathername">ΟΝΟΜΑ ΠΑΤΕΡΑ</label>
                    <input maxlength="25" type="text" id="Authfathername" name="Authfathername" required="required" class="form-control" placeholder="π.χ. ΝΙΚΟΛΑΟΣ" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="Authmothername">ΟΝΟΜΑ ΜΗΤΕΡΑΣ </label>
                    <input maxlength="25" type="text" id="Authmothername"  name=" Authmothername" required="required" class="form-control" placeholder="π.χ. ΑΝΘΗ" />
                </div>
                <button class="btn btn-outline-info nextBtn float-end" type="button"> ΕΠΟΜΕΝΗ ΣΕΛΙΔΑ</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-5">
            <div class="panel-heading">
                 <h3 class="panel-title">ΒΗΜΑ 2ο</h3>
            </div>
            <div class="panel-body">
                <div class="form-group my-3">
                    <label class="control-label" for="Autbdate">ΗΜΕΡΟΜΗΝΙΑ ΓΕΝΝΗΣΗΣ</label>
                    <input  type="text" required="required" id="Autbdate" name="Autbdate" class="form-control" placeholder="DD/MM/YYYY" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="Authblocation">ΤΟΠΟΣ ΓΕΝΝΗΣΗΣ </label>
                    <input id="Authblocation" name="Authblocation" maxlength="55" type="text" required="required" class="form-control" placeholder="π.χ. ΒΟΛΟΣ" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="Authcity">ΚΑΤΟΙΚΟΣ</label>
                    <input maxlength="55" type="text" id="Authcity" name="Authcity" required="required" class="form-control" placeholder="π.χ. ΒΟΛΟΥ" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="Authaddress">ΟΔΟΣ</label>
                    <input maxlength="60" id="Authaddress" name="Authaddress" type="text" required="required" class="form-control" placeholder="π.χ. ΚΑΡΑΜΑΝΛΗ 8" />
                </div>
                <button class="btn btn-outline-info nextBtn float-end" type="button">ΕΠΟΜΕΝΗ ΣΕΛΙΔΑ</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-heading">
                 <h3 class="panel-title">ΒΗΜΑ 3ο</h3>
            </div>
            <div class="panel-body">
                <div class="form-group mb-4">
                    <label class="control-label" for="AuthpassportID">ΑΔΤ/ΔΙΑΒΑΤΗΡΙΟ</label>
                    <input maxlength="20" type="text" id="AuthpassportID" name="AuthpassportID" required="required" class="form-control" placeholder="π.χ. ΒΑ 12314" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="AuthpassportIDCreatedAt">ΕΚΔΟΘΗΚΕ</label>
                    <input maxlength="100" type="text" id="AuthpassportIDCreatedAt" name="AuthpassportIDCreatedAt" required="required" class="form-control" placeholder="π.χ. ΑΣΤΥΝΟΜΟΜΙΑ ΞΑΘΝΗΣ" />
                </div>
                <div class="form-group my-3">
                    <label class="control-label" for="AuthcreatedBy">ΑΠΟ ΤΟ </label>
                    <input maxlength="55" type="text" id="AuthcreatedBy" name="AuthcreatedBy" required="required" class="form-control" placeholder="π.χ. ΝΙΚΟΛΑΟΣ ΓΕΩΡΓΙΟΥ" />
                </div>
                <div class="form-group mb-4">
                    <label for="content" class="form-label">ΔΗΛΩΝΩ ΟΤΙ:</label>
                    <textarea class="form-control" id="content"  name="content" rows="4"></textarea>
                </div>
                <button class="btn btn-outline-info nextBtn float-end" type="submit">ΚΑΤΑΧΩΡΗΣΗ ΔΗΛΩΣΗΣ</button>
            </div>
        </div>
    </form>
    </div>
</div>

 <%- include ('../partials/footer') %>